---
import { Image } from "astro:assets";
---

<section id="proyectos">
  <h2
    class="text-2xl lg:text-4xl font-bold uppercase translate-y-24 md:translate-y-12"
  >
    Algunos proyectos
  </h2>
  <div
    id="scrollX"
    class="h-screen max-h-[1080px] flex items-center flex-row gap-x-4 md:gap-x-8 overflow-hidden"
  >
    <article class="w-full px-4 lg:px-16 flex-shrink-0">
      <div
        class="p-4 group cursor-pointer grid max-w-2xl mx-auto place-items-center gap-y-6 border-[1px] border-yellow-50"
      >
        <h3 class="anim text-2xl md:text-3xl">Soler Consultoria EAS</h3>
        <div class="grid gap-6">
          <div class="flex flex-col gap-y-2 text-sm md:text-base">
            <p class="anim line-clamp-2">
              Es una empresa de asesoría integral en regulaciones y normativas
              para empresas del sector químico, industrial y de producción en
              Paraguay.
            </p>
            <div class="flex gap-x-2 transition-transform">
              <Image
                src={"/assets/Astro.svg"}
                width={30}
                height={30}
                alt={"Astro"}
              />
              <Image
                src={"/assets/typescript.svg"}
                width={30}
                height={30}
                alt={"typescript"}
              />
              <Image
                src={"/assets/tailwind-css-2.svg"}
                width={30}
                height={30}
                alt={"Tailwindcss"}
              />
            </div>
          </div>
          <div class="w-full relative">
            <Image
              src={"/assets/proyectos/soler.webp"}
              width={600}
              height={500}
              alt={"Soler EAS"}
              class="object-cover aspect-[6/2.5] mx-auto w-full filter brightness-95 group-hover:-translate-x-2 group-hover:-translate-y-2 transition-transform"
            />
            <div class="bg-textPrimary w-full absolute inset-0 -z-10"></div>
          </div>
        </div>
      </div>
    </article>
    <article class="w-full px-4 lg:px-16 flex-shrink-0">
      <div
        class="p-4 group cursor-pointer grid max-w-2xl mx-auto place-items-center gap-y-6 border-[1px] border-yellow-50"
      >
        <h3 class="anim text-2xl md:text-3xl">SPS</h3>
        <div class="grid gap-6">
          <div class="flex flex-col gap-y-2 text-sm md:text-base">
            <p class="anim line-clamp-2">
              Es un servicio de medicina prepaga que ofrece planes competitivos
              que posibilita el acceso a servicios de salud de calidad,
              promoviendo la prevención con estilo de vida saludable.
            </p>
            <div class="flex gap-x-2 transition-transform">
              <Image
                src={"/assets/Astro.svg"}
                width={30}
                height={30}
                alt={"Astro"}
              />
              <Image
                src={"/assets/typescript.svg"}
                width={30}
                height={30}
                alt={"typescript"}
              />
              <Image
                src={"/assets/tailwind-css-2.svg"}
                width={30}
                height={30}
                alt={"Tailwindcss"}
              />
            </div>
          </div>
          <div class="w-full relative">
            <Image
              src={"/assets/proyectos/sps.webp"}
              width={600}
              height={500}
              alt={"Soler EAS"}
              class="object-cover mx-auto w-full aspect-[6/2.5] filter brightness-95 group-hover:-translate-x-2 group-hover:-translate-y-2 transition-transform"
            />
            <div class="bg-textPrimary w-full absolute inset-0 -z-10"></div>
          </div>
        </div>
      </div>
    </article>
    <article class="w-full px-4 lg:px-16 flex-shrink-0">
      <div
        class="p-4 group cursor-pointer grid max-w-2xl mx-auto place-items-center gap-y-6 border-[1px] border-yellow-50"
      >
        <h3 class="anim text-2xl md:text-3xl">Gamarra Köhn</h3>
        <div class="grid gap-6">
          <div class="flex flex-col gap-y-2 text-sm md:text-base">
            <p class="anim line-clamp-2">
              Es una inmobiliaria diferente, que ofrece un servicio de
              intermediación de compra - venta - alquiler de inmuebles;
              estrategias de marketing y publicidad diferenciada, confiable y
              eficiente.
            </p>
            <div class="flex gap-x-2 transition-transform">
              <Image
                src={"/assets/next-js.svg"}
                width={30}
                height={30}
                alt={"Astro"}
              />
              <Image
                src={"/assets/typescript.svg"}
                width={30}
                height={30}
                alt={"typescript"}
              />
              <Image
                src={"/assets/tailwind-css-2.svg"}
                width={30}
                height={30}
                alt={"Tailwindcss"}
              />
            </div>
          </div>
          <div class="w-full relative">
            <Image
              src={"/assets/proyectos/Gk.webp"}
              width={600}
              height={500}
              alt={"Soler EAS"}
              class="object-cover mx-auto w-full aspect-[6/2.5] filter brightness-95 group-hover:-translate-x-2 group-hover:-translate-y-2 transition-transform"
            />
            <div class="bg-textPrimary w-full absolute inset-0 -z-10"></div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/all";

  gsap.registerPlugin(ScrollTrigger);
  const scrollX = document.getElementById("scrollX");
  const sections = gsap.utils.toArray("#scrollX article");

  let tween = gsap.to(sections, {
    xPercent: -103 * (sections.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: scrollX,
      pin: true,
      scrub: 0.5,
      end: "+=2000",
    },
  });

  // sections.forEach((section: any) => {
  //   let text = section.querySelectorAll(".anim");

  //   gsap.from(text, {
  //     opacity: 0,
  //     ease: "power1.in",
  //     stagger: 0.1,
  //     scrollTrigger: {
  //       trigger: section,
  //       containerAnimation: tween,
  //       start: "left 50%",
  //     },
  //   });
  // });
</script>
