<section id="servicios">
  <div class="relative mb-[20vw]">
    <div class="grid grid-cols-2 relative h-full">
      <div
        class="sticky top-1/3 h-fit w-full reveal text-xl sm:text-4xl lg:text-5xl xl:text-6xl uppercase font-black"
      >
        <div class="reveal relative">
          <h1>¿Qué <br /> estoy <br /> ofreciendo?</h1>
          <div id="underline" class="w-full h-[2px] bg-yellow-50"></div>
        </div>
      </div>

      <div class="">
        <div class="text-xs md:text-base lg:text-lg">
          <div class="">
            <div class="relative w-fit">
              <span
                class="reveal font-bold uppercase text-lg sm:text-xl lg:text-2xl"
                >User experience</span
              ><div class="underlines w-full h-[2px] bg-yellow-50"></div>
            </div>
            <p class="reveal mt-2">
              Transformar productos comunes en soluciones intuitivas y
              accesibles para los usuarios. Mediante un enfoque en la usabilidad
              y satisfacción del cliente, garantizando cubrir esas necesidades
              del usuario.
            </p>
          </div>
          <div class="mt-[22vh] sm:mt-[22vw]">
            <div class="w-fit relative">
              <span
                class="reveal font-bold uppercase text-lg sm:text-xl lg:text-2xl"
                >SEO</span
              ><div class="underlines w-full h-[2px] bg-yellow-50"></div>
            </div>
            <p class="reveal mt-2">
              Garantizar la visibilidad y ranking de resultados. Asegurándome de
              los elementos que complementan y armonizan los algoritmos de
              búsqueda a través de semántica HTML y mejora de tiempo de carga de
              las páginas. Con esto, conseguir que el sitio web sea el preferido
              para los motores de busqueda como de usuarios.
            </p>
          </div>
          <div class="mt-[22vh] sm:mt-[22vw]">
            <div class="relative w-fit">
              <span
                class="reveal font-bold uppercase text-lg sm:text-xl lg:text-2xl"
                >Responsive</span
              >
              <div class="underlines w-full h-[2px] bg-yellow-50"></div>
            </div>

            <p class="reveal mt-2">
              Asegurar la experiencia para todos los dispositivos de una manera
              coherente y fluida. Priorizo la adaptabilidad del diseño visual y
              la interactividad. Con esto, que la información que quieras
              transmitir llegue a todas las formas de dispositivos.
            </p>
          </div>
          <div class="mt-[22vh] sm:mt-[22vw]">
            <div class="relative w-fit">
              <span
                class="reveal font-bold uppercase text-lg sm:text-xl lg:text-2xl"
                >tendencias</span
              >
              <div class="underlines w-full h-[2px] bg-yellow-50"></div>
            </div>
            <p class="reveal mt-2">
              Estoy constantemente en sintonía con las nuevas tecnologías que
              están en relación al desarrollo en cuanto a liberías y diseño,
              para garantizar que mis clientes tengan un producto moderno y
              eficiente. Mi compromiso es tener un producto que destaque en el
              mercado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import gsap from "gsap";
    import SplitType from "split-type";
    import { ScrollTrigger, TextPlugin } from "gsap/all";

    gsap.registerPlugin(TextPlugin, ScrollTrigger);

    const splitType = document.querySelectorAll(".reveal");

    const underline = document.getElementById("underline");

    const underLines = document.querySelectorAll(".underlines");

    const servicios = document.getElementById("servicios");

    splitType.forEach((char: any) => {
      const text = new SplitType(char, { types: "chars,words" });

      gsap.from(text.words, {
        scrollTrigger: {
          trigger: char,
          scrub: true,
          start: "top 65%",
          end: "top 50%",
        },
        stagger: 0.3,
        scaleY: 0,
      });
    });

    gsap.from(underline, {
      width: "0%",
      scrollTrigger: {
        trigger: servicios,
        start: "top 80%",
        end: "bottom 0%",
        scrub: true,
      },
    });

    underLines.forEach((line) => {
      gsap.from(line, {
        width: "0%",
        scrollTrigger: {
          trigger: line,
          start: "top 80%",
          end: "bottom 0%",
          scrub: true,
        },
      });
    });
  </script>
</section>
