---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Hero from "../index/hero.astro";
import Proyectos from "../index/proyectos.astro";
---

<Layout title="Ed portfolio">
  <Hero />
  <section></section>
  <Proyectos />
</Layout>
