<!-- Header / Nav -->
<header
  class="fixed top-0 w-full px-2 mx-auto shadow bg-slate-950 bg-opacity-40 backdrop-blur-md z-10"
>
  <div
    id="progress"
    class="w-0 absolute inset-0 bg-textPrimary/80 h-full mix-blend-difference"
  >
  </div>
  <nav
    class="border-b-[1px] py-1 mx-auto border-slate-500 flex items-center justify-between mix-blend-difference"
  >
    <menu
      class="flex flex-col md:flex-row text-[10px] sm:text-base font-light gap-x-4 items-center tracking-tighter pointer-events-none select-none"
    >
      <li><code>Eduardo Villamayor</code></li>
      <li><code>Front-End Developer</code></li>
    </menu>
    <ul
      class="flex text-sm md:text-base items-enter font-semibold sm:font-bold gap-x-2 sm:gap-x-4 justify-around"
    >
      <li class="cursor-pointer hover:text-slate-200">
        <a href="/#inicio">Inicio</a>
      </li>
      <li class="cursor-pointer hover:text-slate-200">
        <a href="/#proyectos">Proyectos</a>
      </li>

      <li class="cursor-pointer hover:text-slate-200">
        <a href="/#contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const progressBar =
    (document.getElementById("progress") as HTMLDivElement) || null;

  window.addEventListener("scroll", Progress);

  function Progress() {
    let windowH = window.innerHeight;
    let fullH = document.body.clientHeight;
    let scrolled = window.scrollY;

    let scrollProgress = (scrolled / (fullH - windowH)) * 100;

    progressBar.style.width = `${scrollProgress}%`;
  }
</script>
