---
import "@fontsource-variable/onest";
import Nav from "../components/nav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-PY">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="text-textPrimary font-medium mt-12 max-w-screen-lg mx-auto w-11/12 antialiased selection:bg-yellow-50 selection:text-slate-800"
  >
    <div
      data-page="transition"
      class="bg-slate-950 h-screen grid fixed place-items-center inset-0 z-[999] text-5xl font-bold pointer-events-none"
    >
      <span class="preLoader"></span>
    </div>
    <header>
      <Nav />
    </header>

    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div class="relative h-full w-full bg-slate-950 bg-slate">
        <div
          class="move absolute bottom-0 left-[0] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(69,87,189,0.15),rgba(255,255,255,0))]"
        >
        </div><div
          class="move absolute bottom-0 hidden md:block right-[-0%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(69,87,189,0.15),rgba(255,255,255,0))]"
        >
        </div>
      </div>
    </div>
    <div class="relative animate-fade mt-36">
      <slot />
    </div>

    <script>
      import gsap from "gsap";

      document.addEventListener("DOMContentLoaded", () => {
        const intro = document.querySelector(
          '[data-page="transition"]'
        ) as HTMLDivElement;
        const preLoader = document.querySelector(
          ".preLoader"
        ) as HTMLSpanElement;

        const tl = gsap.timeline();

        if (!sessionStorage.getItem("preload")) {
          sessionStorage.setItem("preload", "true");

          const saludos = [
            "Welcome",
            "Bienvenue",
            "Benvenuto",
            "Bem-vindo",
            "Willkommen",
            "Welkom",
            "Witaj",
            "Vítejte",
            "Välkommen",
            "Velkommen",
            "Tervetuloa",
            "Üdvözöljük",
            "Hoş geldiniz",
            "환영합니다",
            "ようこそ",
            "أهلاً وسهلاً",
            "Добро пожаловать",
          ];
          let currentSaludo = 0;

          setTimeout(() => {
            const saludoInterval = setInterval(() => {
              preLoader.textContent = saludos[currentSaludo];

              currentSaludo++;

              if (currentSaludo >= saludos.length) {
                clearInterval(saludoInterval);

                gsap.to(preLoader, {
                  opacity: 0,
                  duration: 0.5,
                  onComplete: () => {
                    preLoader.textContent = "Bienvenido";
                    gsap.to(preLoader, {
                      opacity: 1,
                      duration: 0.5,
                    });
                  },
                });

                gsap.to(intro, {
                  height: "0px",
                  overflow: "hidden",
                  delay: 1.5,
                  duration: 1.5,
                  ease: "power2.inOut",
                  onComplete: () => {
                    intro.style.display = "none";
                  },
                });
              }
            }, 200);
          }, 600);
        } else {
          intro.style.display = "none";
        }
      });
    </script>
    <style is:global>
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>
